<section id="mailchimp" class="mailchimp">
    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7_dtp.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
        <form action="https://galerie-atena.us6.list-manage.com/subscribe/post?u=6ef2d4df0593ae9edab5f99f3&amp;id=5efe0b68b8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div id="mc_embed_signup_scroll">
                <label class="ttlNw" for="mce-EMAIL" style="color: #666666; font-size: 26px;">NEWSLETTER</label>
                <p style="text-align: center;"><span style="font-size:16px;"><span style="color:#666666; font-weight: bold; font-size: 19px; color: rgba(102,102,102,1); font-family: Palatino, serif;">Inscrivez-vous pour être informés de nos nouveautés :</span></span></p>
                <input style="width: 250px; color: rgba(102,102,102,1); font-family: Palatino, serif;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Votre email" required="">
                <input style="width: 250px; color: rgba(102,102,102,1); font-family: Palatino, serif;" type="text" name="MMERGE2" placeholder="Votre nom" size="15" maxlength="35" id="mce-MMERGE2" class="email">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6ef2d4df0593ae9edab5f99f3_5efe0b68b8" tabindex="-1" value=""></div>
                <div class="clear foot">
                    <input style="font-size: 20px !important;" type="submit" value=">" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
                <!---<p><a href="http://eepurl.com/hTxMAj" title="Mailchimp - email marketing made easy and fun"><img class="referralBadge" src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>--->
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
</section>