<div data-sub-layout-container="d7c1f535-7faf-4974-a57a-1cbf99075455" data-layout-name="Réassurance footer">
  <style data-container-styling="d7c1f535-7faf-4974-a57a-1cbf99075455">
    [data-sub-layout-container="d7c1f535-7faf-4974-a57a-1cbf99075455"] {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      z-index: 0;
      position: relative;
    }
    [data-sub-layout-container="d7c1f535-7faf-4974-a57a-1cbf99075455"]:after {
      background-position: center center;
      background-size: cover;
      auto content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  </style>
  <div data-sub-layout="83caa6c5-d372-4b78-a1ff-6613ee1268cb">
    <style data-column-styling="83caa6c5-d372-4b78-a1ff-6613ee1268cb">
      [data-sub-layout="83caa6c5-d372-4b78-a1ff-6613ee1268cb"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 25%;
        max-width: 25%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="83caa6c5-d372-4b78-a1ff-6613ee1268cb"]:after {
        background-position: center center;
        background-size: cover;
        auto content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="83caa6c5-d372-4b78-a1ff-6613ee1268cb"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <div data-widget-id="9e91a129-b279-40bd-9ea8-ff63bdce5b63" data-placement-id="e78052f4-6829-4527-946d-beb06ec2230a" data-placement-status="ACTIVE"><style>
    #sd-image-9e91a129-b279-40bd-9ea8-ff63bdce5b63 {
        display: flex;
        align-items: center;
        background: url('https://cdn11.bigcommerce.com/s-xb1qbja2ke/product_images/uploaded_images/icone-atena3.png') no-repeat;
        opacity: calc(100 / 100);

            cursor: pointer;

            background-size: contain;

            height: 80px;

        background-position:
                center
                center
;


        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #sd-image-9e91a129-b279-40bd-9ea8-ff63bdce5b63 * {
        margin: 0px;
    }

    #sd-image-9e91a129-b279-40bd-9ea8-ff63bdce5b63 img {
        width: auto;
        opacity: 0;

            height: 100%;
    }

    @media only screen and (max-width: 700px) {
        #sd-image-9e91a129-b279-40bd-9ea8-ff63bdce5b63 {
        }
    }
</style>

<div>
    <a href="/nous-contacter/" role="button">
    <div id="sd-image-9e91a129-b279-40bd-9ea8-ff63bdce5b63" data-edit-mode="">
        <img src="https://cdn11.bigcommerce.com/s-xb1qbja2ke/product_images/uploaded_images/icone-atena3.png" alt="">
    </div>
    </a>
</div>


</div>
    <div data-widget-id="f47a1305-1727-40ad-be30-287b2ab67777" data-placement-id="deb3cd2a-194a-4245-8489-9634c447f42f" data-placement-status="ACTIVE"><style>
    .sd-simple-text-f47a1305-1727-40ad-be30-287b2ab67777 {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;

      margin-top: 10px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;

    }

    .sd-simple-text-f47a1305-1727-40ad-be30-287b2ab67777 * {
      margin: 0;
      padding: 0;

        color: rgba(69,69,69,1);
        font-family: Palatino, serif;
        font-weight: 500;
        font-size: 15px;
        min-height: 15px;

    }

    .sd-simple-text-f47a1305-1727-40ad-be30-287b2ab67777 {
        text-align: center;
    }

    #sd-simple-text-editable-f47a1305-1727-40ad-be30-287b2ab67777 {
      min-width: 14px;
      line-height: 1.5;
      display: inline-block;
    }

    #sd-simple-text-editable-f47a1305-1727-40ad-be30-287b2ab67777[data-edit-mode="true"]:hover,
    #sd-simple-text-editable-f47a1305-1727-40ad-be30-287b2ab67777[data-edit-mode="true"]:active,
    #sd-simple-text-editable-f47a1305-1727-40ad-be30-287b2ab67777[data-edit-mode="true"]:focus {
      outline: 1px dashed #3C64F4;
    }

    #sd-simple-text-editable-f47a1305-1727-40ad-be30-287b2ab67777 strong,
    #sd-simple-text-editable-f47a1305-1727-40ad-be30-287b2ab67777 strong * {
      font-weight: bold;
    }
</style>

<div class="sd-simple-text-f47a1305-1727-40ad-be30-287b2ab67777 ">
  <div id="sd-simple-text-editable-f47a1305-1727-40ad-be30-287b2ab67777" data-edit-mode="">
    <p><a href="/nous-contacter/">Contact</a></p>
  </div>
</div>

</div>
  </div>
  <div data-sub-layout="9a1bf936-894a-43f4-a8a5-a8cfb9e72050">
    <style data-column-styling="9a1bf936-894a-43f4-a8a5-a8cfb9e72050">
      [data-sub-layout="9a1bf936-894a-43f4-a8a5-a8cfb9e72050"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 25%;
        max-width: 25%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="9a1bf936-894a-43f4-a8a5-a8cfb9e72050"]:after {
        background-position: center center;
        background-size: cover;
        auto content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="9a1bf936-894a-43f4-a8a5-a8cfb9e72050"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <div data-widget-id="4c4239a6-2880-4836-844c-9a1ef02fd753" data-placement-id="e16ebb2f-2978-402c-8555-589314a277e1" data-placement-status="ACTIVE"><style>
    #sd-image-4c4239a6-2880-4836-844c-9a1ef02fd753 {
        display: flex;
        align-items: center;
        background: url('https://cdn11.bigcommerce.com/s-xb1qbja2ke/product_images/uploaded_images/icone-atena5.png') no-repeat;
        opacity: calc(100 / 100);

            cursor: pointer;

            background-size: contain;

            height: 80px;

        background-position:
                center
                center
;


        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #sd-image-4c4239a6-2880-4836-844c-9a1ef02fd753 * {
        margin: 0px;
    }

    #sd-image-4c4239a6-2880-4836-844c-9a1ef02fd753 img {
        width: auto;
        opacity: 0;

            height: 100%;
    }

    @media only screen and (max-width: 700px) {
        #sd-image-4c4239a6-2880-4836-844c-9a1ef02fd753 {
        }
    }
</style>

<div>
    <a href="/blog/" role="button">
    <div id="sd-image-4c4239a6-2880-4836-844c-9a1ef02fd753" data-edit-mode="">
        <img src="https://cdn11.bigcommerce.com/s-xb1qbja2ke/product_images/uploaded_images/icone-atena5.png" alt="">
    </div>
    </a>
</div>


</div>
    <div data-widget-id="1768df13-5c36-478c-8be3-1b499c34805c" data-placement-id="9c6022a8-c6ef-4d10-a65b-d1006a048825" data-placement-status="ACTIVE"><style>
    .sd-simple-text-1768df13-5c36-478c-8be3-1b499c34805c {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;

      margin-top: 10px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;

    }

    .sd-simple-text-1768df13-5c36-478c-8be3-1b499c34805c * {
      margin: 0;
      padding: 0;

        color: rgba(69,69,69,1);
        font-family: Palatino, serif;
        font-weight: 500;
        font-size: 16px;
        min-height: 16px;

    }

    .sd-simple-text-1768df13-5c36-478c-8be3-1b499c34805c {
        text-align: center;
    }

    #sd-simple-text-editable-1768df13-5c36-478c-8be3-1b499c34805c {
      min-width: 14px;
      line-height: 1.5;
      display: inline-block;
    }

    #sd-simple-text-editable-1768df13-5c36-478c-8be3-1b499c34805c[data-edit-mode="true"]:hover,
    #sd-simple-text-editable-1768df13-5c36-478c-8be3-1b499c34805c[data-edit-mode="true"]:active,
    #sd-simple-text-editable-1768df13-5c36-478c-8be3-1b499c34805c[data-edit-mode="true"]:focus {
      outline: 1px dashed #3C64F4;
    }

    #sd-simple-text-editable-1768df13-5c36-478c-8be3-1b499c34805c strong,
    #sd-simple-text-editable-1768df13-5c36-478c-8be3-1b499c34805c strong * {
      font-weight: bold;
    }
</style>

<div class="sd-simple-text-1768df13-5c36-478c-8be3-1b499c34805c ">
  <div id="sd-simple-text-editable-1768df13-5c36-478c-8be3-1b499c34805c" data-edit-mode="">
    <p><a href="/blog/">Blog</a></p>
  </div>
</div>

</div>
  </div>
  <div data-sub-layout="735aef25-66e1-4563-be97-94b7ffec3f25">
    <style data-column-styling="735aef25-66e1-4563-be97-94b7ffec3f25">
      [data-sub-layout="735aef25-66e1-4563-be97-94b7ffec3f25"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 25%;
        max-width: 25%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="735aef25-66e1-4563-be97-94b7ffec3f25"]:after {
        background-position: center center;
        background-size: cover;
        auto content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="735aef25-66e1-4563-be97-94b7ffec3f25"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <div data-widget-id="869c114d-3d8d-4028-b32d-752211f3f9d4" data-placement-id="85b47fce-4dac-487d-8fa8-4926a31c91f7" data-placement-status="ACTIVE"><style>
    #sd-image-869c114d-3d8d-4028-b32d-752211f3f9d4 {
        display: flex;
        align-items: center;
        background: url('https://cdn11.bigcommerce.com/s-xb1qbja2ke/product_images/uploaded_images/icone-atena7.png') no-repeat;
        opacity: calc(100 / 100);

            cursor: pointer;

            background-size: contain;

            height: 80px;

        background-position:
                center
                center
;


        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #sd-image-869c114d-3d8d-4028-b32d-752211f3f9d4 * {
        margin: 0px;
    }

    #sd-image-869c114d-3d8d-4028-b32d-752211f3f9d4 img {
        width: auto;
        opacity: 0;

            height: 100%;
    }

    @media only screen and (max-width: 700px) {
        #sd-image-869c114d-3d8d-4028-b32d-752211f3f9d4 {
        }
    }
</style>

<div>
    <a href="/videos/" role="button">
    <div id="sd-image-869c114d-3d8d-4028-b32d-752211f3f9d4" data-edit-mode="">
        <img src="https://cdn11.bigcommerce.com/s-xb1qbja2ke/product_images/uploaded_images/icone-atena7.png" alt="">
    </div>
    </a>
</div>


</div>
    <div data-widget-id="b3b88817-a83d-4ac7-a75c-c75fd665bdf2" data-placement-id="4a822b9d-5169-4a04-9fd3-2c779be01963" data-placement-status="ACTIVE"><style>
    .sd-simple-text-b3b88817-a83d-4ac7-a75c-c75fd665bdf2 {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;

      margin-top: 10px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;

    }

    .sd-simple-text-b3b88817-a83d-4ac7-a75c-c75fd665bdf2 * {
      margin: 0;
      padding: 0;

        color: rgba(69,69,69,1);
        font-family: Palatino, serif;
        font-weight: 500;
        font-size: 15px;
        min-height: 15px;

    }

    .sd-simple-text-b3b88817-a83d-4ac7-a75c-c75fd665bdf2 {
        text-align: center;
    }

    #sd-simple-text-editable-b3b88817-a83d-4ac7-a75c-c75fd665bdf2 {
      min-width: 14px;
      line-height: 1.5;
      display: inline-block;
    }

    #sd-simple-text-editable-b3b88817-a83d-4ac7-a75c-c75fd665bdf2[data-edit-mode="true"]:hover,
    #sd-simple-text-editable-b3b88817-a83d-4ac7-a75c-c75fd665bdf2[data-edit-mode="true"]:active,
    #sd-simple-text-editable-b3b88817-a83d-4ac7-a75c-c75fd665bdf2[data-edit-mode="true"]:focus {
      outline: 1px dashed #3C64F4;
    }

    #sd-simple-text-editable-b3b88817-a83d-4ac7-a75c-c75fd665bdf2 strong,
    #sd-simple-text-editable-b3b88817-a83d-4ac7-a75c-c75fd665bdf2 strong * {
      font-weight: bold;
    }
</style>

<div class="sd-simple-text-b3b88817-a83d-4ac7-a75c-c75fd665bdf2 ">
  <div id="sd-simple-text-editable-b3b88817-a83d-4ac7-a75c-c75fd665bdf2" data-edit-mode="">
    <p><a href="/videos/">Vidéos</a></p>
  </div>
</div>

</div>
  </div>
  <div data-sub-layout="23fd52ea-f6c5-430c-8336-a760fe76342d">
    <style data-column-styling="23fd52ea-f6c5-430c-8336-a760fe76342d">
      [data-sub-layout="23fd52ea-f6c5-430c-8336-a760fe76342d"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 25%;
        max-width: 25%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="23fd52ea-f6c5-430c-8336-a760fe76342d"]:after {
        background-position: center center;
        background-size: cover;
        auto content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="23fd52ea-f6c5-430c-8336-a760fe76342d"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <div data-widget-id="e5642c45-8e66-4fc2-ac1d-74e8621736db" data-placement-id="b31a7fad-1dcb-4804-88e8-92d72e135e6c" data-placement-status="ACTIVE"><style>
    #sd-image-e5642c45-8e66-4fc2-ac1d-74e8621736db {
        display: flex;
        align-items: center;
        background: url('https://cdn11.bigcommerce.com/s-xb1qbja2ke/product_images/uploaded_images/icone-atena4.png') no-repeat;
        opacity: calc(100 / 100);

            cursor: pointer;

            background-size: contain;

            height: 80px;

        background-position:
                center
                center
;


        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #sd-image-e5642c45-8e66-4fc2-ac1d-74e8621736db * {
        margin: 0px;
    }

    #sd-image-e5642c45-8e66-4fc2-ac1d-74e8621736db img {
        width: auto;
        opacity: 0;

            height: 100%;
    }

    @media only screen and (max-width: 700px) {
        #sd-image-e5642c45-8e66-4fc2-ac1d-74e8621736db {
        }
    }
</style>

<div>
    <a href="/avis-clients/" role="button">
    <div id="sd-image-e5642c45-8e66-4fc2-ac1d-74e8621736db" data-edit-mode="">
        <img src="https://cdn11.bigcommerce.com/s-xb1qbja2ke/product_images/uploaded_images/icone-atena4.png" alt="">
    </div>
    </a>
</div>


</div>
    <div data-widget-id="3d845e80-5ab1-449e-8774-690d525f0f15" data-placement-id="f543dbcc-4573-44e7-ba7a-44f6356378cc" data-placement-status="ACTIVE"><style>
    .sd-simple-text-3d845e80-5ab1-449e-8774-690d525f0f15 {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;

      margin-top: 10px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;

    }

    .sd-simple-text-3d845e80-5ab1-449e-8774-690d525f0f15 * {
      margin: 0;
      padding: 0;

        color: rgba(69,69,69,1);
        font-family: Palatino, serif;
        font-weight: 500;
        font-size: 15px;
        min-height: 15px;

    }

    .sd-simple-text-3d845e80-5ab1-449e-8774-690d525f0f15 {
        text-align: center;
    }

    #sd-simple-text-editable-3d845e80-5ab1-449e-8774-690d525f0f15 {
      min-width: 14px;
      line-height: 1.5;
      display: inline-block;
    }

    #sd-simple-text-editable-3d845e80-5ab1-449e-8774-690d525f0f15[data-edit-mode="true"]:hover,
    #sd-simple-text-editable-3d845e80-5ab1-449e-8774-690d525f0f15[data-edit-mode="true"]:active,
    #sd-simple-text-editable-3d845e80-5ab1-449e-8774-690d525f0f15[data-edit-mode="true"]:focus {
      outline: 1px dashed #3C64F4;
    }

    #sd-simple-text-editable-3d845e80-5ab1-449e-8774-690d525f0f15 strong,
    #sd-simple-text-editable-3d845e80-5ab1-449e-8774-690d525f0f15 strong * {
      font-weight: bold;
    }
</style>

<div class="sd-simple-text-3d845e80-5ab1-449e-8774-690d525f0f15 ">
  <div id="sd-simple-text-editable-3d845e80-5ab1-449e-8774-690d525f0f15" data-edit-mode="">
    <p><a href="/avis-clients/">Avis</a></p>
  </div>
</div>

</div>
  </div>
</div>




<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7_dtp.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://galerie-atena.us6.list-manage.com/subscribe/post?u=6ef2d4df0593ae9edab5f99f3&amp;id=5efe0b68b8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
    <div id="mc_embed_signup_scroll">
    <label class="ttlNw" for="mce-EMAIL" style="color: #666666; font-size: 26px;">NEWSLETTER</label>
    <p style="text-align: center;"><span style="font-size:16px;"><span style="color:#666666; font-weight: bold; font-size: 19px; color: rgba(102,102,102,1); font-family: Palatino, serif;">Inscrivez-vous pour être informés de nos nouveautés :</span></span></p>
    <input style="width: 250px; color: rgba(102,102,102,1); font-family: Palatino, serif;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Votre email" required="">
    <input style="width: 250px; color: rgba(102,102,102,1); font-family: Palatino, serif;" type="text" name="MMERGE2" placeholder="Votre nom" size="15" maxlength="35" id="mce-MMERGE2" class="email">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6ef2d4df0593ae9edab5f99f3_5efe0b68b8" tabindex="-1" value=""></div>
        <div class="clear foot">
           <input style="font-size: 20px !important;" type="submit" value=">" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
    <!---<p><a href="http://eepurl.com/hTxMAj" title="Mailchimp - email marketing made easy and fun"><img class="referralBadge" src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>--->
    </div>
</form>
</div>
<!--End mc_embed_signup-->





<footer class="footer-main" role="banner">
  {{#any settings.gift_certificates_enabled settings.account_creation_enabled}}
    <nav class="footer-navigation">
      {{> components/footer/footer-navigation}}
    </nav>
  {{/any}}

  {{#if social_media.length}}
    <nav class="footer-social">
      {{> components/footer/footer-social}}
    </nav>
  {{/if}}

  {{#if settings.show_newsletter_box}}
    <nav class="footer-newsletter">
      {{> components/footer/footer-newsletter}}

      {{#if settings.show_newsletter_summary}}
        <div class="newsletter-summary">
          {{settings.newsletter_summary}}
        </div>
      {{/if}}
    </nav>
  {{/if}}

  <div class="footer-branding">
    {{> components/footer/footer-branding}}
  </div>

  {{{region name="ssl_site_seal--global"}}}

  <div class="footer-credits">
    {{> components/footer/footer-credits}}
  </div>

  <div class="footer-payment-icons">
    {{> components/common/payment-icons}}
  </div>
</footer>

<div class="search-form-overlay" data-search-form-overlay></div>
