.footer-main {
  padding: $gutter-double 0;
  font-family: $footer-font-family;
  font-size: $footer-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $footer-font-weight;
  color: $footer-color;
  text-align: center;
  background-color: $footer-background;

  @include breakpoint(m-down) { padding: $gutter; }
}

.footer-navigation,
.footer-social,
.footer-newsletter {
  @include align(middle);
  margin: 0 ($gutter-half + $gutter-third);

  @include breakpoint(m-down) {
    display: block;
    margin: $gutter 0;
  }
}

.footer-navigation,
.footer-newsletter {
  @include breakpoint(l) { min-width: 250px; }
}

.footer-branding {
  width: $branding-size;
  margin: ($gutter + $gutter-third) auto;
}

.footer-payment-icons {
  margin-top: $gutter + $gutter-third;
}


// Custom

#sd-image-7a2f692c-8baa-47df-a2b7-a7671f9d7499 {
    display: none !important;
}

[data-sub-layout-container="d7c1f535-7faf-4974-a57a-1cbf99075454"] {
    display: none !important;
}

.sd-spacer-c7284fda-19aa-4a89-9879-679a67798391 {
  height: 0px !important;
}

@media only screen and (max-width: 430px) {
    [data-sub-layout-container="d7c1f535-7faf-4974-a57a-1cbf99075455"] {
     display: block !important;
    }
}

[data-sub-layout-container="d7c1f535-7faf-4974-a57a-1cbf99075455"] {
  padding-bottom: 33px;
}

.sd-simple-text-f47a1305-1727-40ad-be30-287b2ab67777 * {
    font-weight: bold !important;
    text-transform: uppercase;
}

.sd-simple-text-1768df13-5c36-478c-8be3-1b499c34805c * {
    font-weight: bold !important;
    text-transform: uppercase;
}

.sd-simple-text-b3b88817-a83d-4ac7-a75c-c75fd665bdf2 * {
    font-weight: bold !important;
    text-transform: uppercase;
}

.sd-simple-text-3d845e80-5ab1-449e-8774-690d525f0f15 * {
    font-weight: bold !important;
    text-transform: uppercase;
}


#mc_embed_signup {
  background: url("https://cdn11.bigcommerce.com/s-xb1qbja2ke/product_images/uploaded_images/2284-toile-peinture-panoramique-xixe-00-copie.jpg") !important;
}

[data-sub-layout-container="3d277860-c399-40e5-b758-ba231d7b91a7"] {
    display: none !important;
}

